.App {
	text-align: center;
	background-image: url("https://images.pexels.com/photos/890035/pexels-photo-890035.jpeg?auto=compress");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	background-position: center center;
	min-height: 100vh;
	transition: 0.4s ease-out;
	padding-bottom: 2rem;
}

.App.warm {
	background-image: url("https://images.pexels.com/photos/1285625/pexels-photo-1285625.jpeg?auto=compress&cs=tinysrgb&dpr=2");
	background-position: center;
}
